<script type="text/javascript">
    // Auto-Grow-TextArea script.
    // Script copyright (C) 2011 www.cryer.co.uk.
    // Script is free to use provided this copyright header is included.
    function AutoGrowTextArea(textField)
    {
        if (textField.clientHeight < textField.scrollHeight)
        {
            textField.style.height = textField.scrollHeight + "px";
            if (textField.clientHeight < textField.scrollHeight)
            {
                textField.style.height =
                    (textField.scrollHeight * 2 - textField.clientHeight) + "px";
            }
        }
    }
</script>
<div class="form-group core-component-formentry-inputtextarea">
    <label for="{{ name|e('html_attr') }}" class="col-sm-3 control-label">{{ title|raw }}</label>
    <div class="col-sm-6 {{ class|e('html_attr') }}">
        <textarea name="{{ name|e('html_attr') }}" id="{{ name|e('html_attr') }}" class="form-control" rows="{{ numberOfRows|e('html_attr') }}" {% if readOnly %}readonly{% endif %} {% for key, value in data %}data-{{ key }}="{{ value|e('html_attr') }}"{% endfor %} placeholder="{{ placeholder|e('html_attr') }}" onkeyup="AutoGrowTextArea(this)">{{ value|raw }}</textarea>
    </div>
    {% if opener %}
    <div class="col-sm-2 form-opener">
        {{ opener|raw }}
    </div>
    {% endif %}
</div>
<script type="text/javascript">
    AutoGrowTextArea(document.getElementById("{{ name|e('html_attr') }}"));
</script>