<div class="form-group core-component-wysiwygeditor">
    <label for="{{ name }}" class="col-sm-3 control-label">{{ title|raw }}</label>
    <div class="col-sm-6">
        <div id="{{ name }}_pell" name="{{ name }}_pell"></div>
        <textarea name="{{ name }}" id="{{ name }}" class="form-control inputWysiwyg display-none"
                  data-kajona-editorid="{{ editorid }}" value="{{ content }}" {{ readonly }}></textarea>
    </div>

    <script type="text/javascript">window.Editor.init("{{ name }}", "{{ content }}")</script>
    <script type="text/javascript">window.Editor.setContent("{{ name }}", "{{ content }}")</script>

</div>